<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="listeners.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="unitTestCase.TC01"/>
      <!-- class name="unitTestCase.TC02"/>
      <class name="unitTestCase.TC03"/>
       <class name="unitTestCase.TC04"/-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
